snippet html
Hello $1 
this $2($3)
is 
an HTML
snippet $4
endsnippet

snippet gotab
this is a test
endsnippet

snippet ol
<ol>
    <li>$1</li>
    <li>$2</li>
    <li>$3</li>
    <li>$4</li>
</ol>
endsnippet

